/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .w-nav{
        width: 25%;
    }
    .font-service-style{
        width: 18%;
    }
    .card-height{
        height: 40vh;
    }
    .card-margin{
        margin-bottom: 13rem;
    }
    .display-dot{
        display: none;
    }
    .banner{
        height: 95vh;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .w-nav{
        width: 25%;
    }
    .font-service-style{
        width: 15%;
    }
    .card-height{
        height: 40vh;
    }
    .card-margin{
        margin-bottom: 13rem;
    }
    .display-dot{
        display: none;
    }
    .banner{
        height: 100vh;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .font-service-style{
        width: 39%;
    }
    .card-height{
        height: 75vh;
    }
    .card-margin{
        margin-bottom: 28.5rem;
    }
    .display-dot{
        display: block;
    }
    .banner{
        height: 100vh;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .w-nav{
        width: 15%;
    }
    .font-service-style{
        width: 28%;
    }
    .card-height{
        height: 50vh;
    }
    .card-margin{
        margin-bottom: 18rem;
    }
    .banner{
        height: 100vh;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .w-nav{
        width: 15%;
    }
    .font-service-style{
        width: 23%;
    }
    .card-height{
        height: 45vh;
    }
    .card-margin{
        margin-bottom: 15.5rem;
    }
    .banner{
        height: 100vh;
    }
}